<h1>Categories</h1>

<% @cats.each do |cat| %>
	<div class="category">
		<div class="name"><%= cat.name %></div>
		<div class="count"><%= cat.count %></div>
		<div class="description"><%= cat.description %></div>
		<div class="repos">
			<% Repo.tagged_with(cat.name, on: :categories).order("watchers DESC").each do |repo| %>
				<span class="repo"><%= repo.name %></span>
			<% end %>
		</div>
	</div>
<% end %>
