<h1>Categories</h1>

<table>
	<tr>
		<th>Category</th>
		<th>Item Number</th>
		<th>Popular Repos</th>
	</tr>
	
	<% @categories.each do |cat_name, repos| %>
	<tr>
		<td><a href="/category/<%= cat_name %>"><%= cat_name %></a></td>
		<td><%= repos.length %></td>
		<td>
			<% repos.each do |repo| %>
				<%= repo.name %>
			<% end %>
		</td>
	</tr>
	<% end %>
</table>