<h1>Repofinder - Category <%= @cat_name %></h1>
<p>V 0.0.3 - 25. Januar 2012</p>

<a href="/category">Categories</a>

<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

	
<%= render(partial: "shared/repo", collection: @repos ) %>

<%= render(partial: "shared/add_repo" )%>

