<%= @url.inspect %>


<h1>Thanks for bringing  to Discovery!</h1>

<h3>You can easily add some tags for it, if you like:</h3>

	<form action="/tag" method="post">
		<input type="hidden" name="repo_id" value="" />
		<input type="text" size="8" name="tag_name" / autocomplete="off">
		<input type="submit" value="Tag: Add" name="add_category">
		<input type="submit" value="Tag: Remove" name="remove_category">
		<input type="submit" value="Framework: Add" name="add_framework">
		<input type="submit" value="Framework: Remove" name="remove_framework">
		<input type="submit" value="Language: Add" name="add_language">
		<input type="submit" value="Language: Remove" name="remove_language">
	</form>