<!DOCTYPE html>
<html>
<head>
  <title>Repofinder</title>
  <%= stylesheet_link_tag    "application" %>
 	<%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<div class="header">
		<div class="name">discovery!</div>
		<div class="slogan">discover repos of note on github</div>
	</div>
	
	<div class="navigation">
		<a href="/category">Categories</a>
		<a href="/repo">Repos</a>
	</div>

<%= yield %>

</body>
</html>
